<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <context-param>
        <param-name>konfiguracija</param-name>
        <param-value>NWTiS.db.config_1.xml</param-value>
    </context-param>
    <filter>
        <filter-name>Filtar</filter-name>
        <filter-class>org.foi.nwtis.ztintor.web.filteri.Filtar</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>Filtar</filter-name>
        <url-pattern>/privatno/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
        <dispatcher>ERROR</dispatcher>
    </filter-mapping>
    <listener>
        <listener-class>com.sun.xml.ws.transport.http.servlet.WSServletContextListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>Kontroler</servlet-name>
        <servlet-class>org.foi.nwtis.ztintor.web.Kontroler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MeteoWS</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Kontroler</servlet-name>
        <url-pattern>/PregledDnevnika</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Kontroler</servlet-name>
        <url-pattern>/PregledMeteoPodataka</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Kontroler</servlet-name>
        <url-pattern>/PregledZahtjeva</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Kontroler</servlet-name>
        <url-pattern>/Index</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Kontroler</servlet-name>
        <url-pattern>/PrijavaKorisnika</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Kontroler</servlet-name>
        <url-pattern>/ProvjeraKorisnika</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Kontroler</servlet-name>
        <url-pattern>/OdjavaKorisnika</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Kontroler</servlet-name>
        <url-pattern>/Dokumentacija</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MeteoWS</servlet-name>
        <url-pattern>/MeteoWS</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>jsp/login.jsp</welcome-file>
    </welcome-file-list>
    <error-page>
        <exception-type>org.foi.nwtis.ztintor.web.NeuspjesnaPrijava</exception-type>
        <location>/jsp/errPage.jsp</location>
    </error-page>
    
    
    <security-constraint>
        <display-name>SSL</display-name>
        <web-resource-collection>
            <web-resource-name>SSLName</web-resource-name>
            <description/>
            <url-pattern>/jsp/*</url-pattern>
            <url-pattern>/privatno/*</url-pattern>
            <url-pattern>/OdjavaKorisnika</url-pattern>
            <url-pattern>/PrijavaKorisnika</url-pattern>
            <url-pattern>/ProvjeraKorisnika</url-pattern>
            <url-pattern>/PregledDnevnika</url-pattern>
            <url-pattern>/PregledMeteoPodataka</url-pattern>
            <url-pattern>/PregledZahtjeva</url-pattern>
        </web-resource-collection>
        <user-data-constraint>
            <description/>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>  

</web-app>
